<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link th:href="@{/CSS/structureStyles.css}" rel="stylesheet"
          href="../../static/CSS/structureStyles.css">
    <link rel="stylesheet" href="../../static/CSS/dashboard.css" th:href="@{/CSS/dashboard.css}">
    <link rel="stylesheet" href="../../static/CSS/navBar.css" th:href="@{/CSS/navBar.css}">
    <link rel="stylesheet" href="../../static/CSS/footer.css" th:href="@{/CSS/footer.css}">
    <link rel="stylesheet" href="../../static/CSS/loader.css" th:href="@{/CSS/loader.css}">
    <link th:href="@{https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css}" href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script defer th:src="@{/js/navBar.js}" src="../../static/js/navBar.js"></script>
    <script defer th:src="@{/js/loader.js}" src="../../static/js/loader.js"></script>
    <script defer th:src="@{/js/dashboard.js}" src="../../static/js/dashboard.js"></script>
</head>
<body>

<div th:replace="fragments/Structure :: navBar"></div>
<div class="home_content">
    <div class="content">
        <h1 class="pageTitle">Dashboard</h1>

        <div class="scrollContainer">
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div><div class="scrollContainer-item">
            <a th:href="@{/evaluation}">
                <img th:src="@{images/evaluation.jpg}" alt="">
                <span class="itemName">Evaluation Tracker</span>
            </a>
        </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div><div class="scrollContainer-item">
            <a th:href="@{/evaluation}">
                <img th:src="@{images/evaluation.jpg}" alt="">
                <span class="itemName">Evaluation Tracker</span>
            </a>
        </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div><div class="scrollContainer-item">
            <a th:href="@{/evaluation}">
                <img th:src="@{images/evaluation.jpg}" alt="">
                <span class="itemName">Evaluation Tracker</span>
            </a>
        </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div><div class="scrollContainer-item">
            <a th:href="@{/evaluation}">
                <img th:src="@{images/evaluation.jpg}" alt="">
                <span class="itemName">Evaluation Tracker</span>
            </a>
        </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div><div class="scrollContainer-item">
            <a th:href="@{/evaluation}">
                <img th:src="@{images/evaluation.jpg}" alt="">
                <span class="itemName">Evaluation Tracker</span>
            </a>
        </div>
            <div class="scrollContainer-item">
                <a th:href="@{/evaluation}">
                    <img th:src="@{images/evaluation.jpg}" alt="">
                    <span class="itemName">Evaluation Tracker</span>
                </a>
            </div>

        </div>

    </div>

    <div th:replace="fragments/Structure :: footer">
    </div>
</div>

<div id="loader" class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

</body>
</html>