<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link th:href="@{/CSS/myStyles.css}" rel="stylesheet" href="../../static/CSS/myStyles.css">
    <link th:href="@{/CSS/navBar.css}" rel="stylesheet" href="../../static/CSS/navBar.css">
</head>
<body>
<div th:replace="/fragments/Structure :: navBar">
</div>

<div class="homeContent">


</div>



<footer th:replace="/fragments/Structure :: footer"></footer>
</body>
</html>