footer{
    background: black;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    text-align: center;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 5px;
}

.socials li a{
    color: #fff;
    text-decoration: none;
}
