
.absoluteContainer {
    margin: auto;
    width: fit-content;
}

.absoluteContainer .tableLabel{
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 28px;
    width: max-content;
    color: #fff;
}

.absoluteContainer .redTable {
    width: 1200px;
    overflow: scroll;
    box-shadow:  0 0 5px 5px #cc2900;
    border-collapse: collapse;
}

.absoluteContainer .redTable th, td {
    padding: 15px;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #cc2900;
}


.absoluteContainer .redTable th {
    text-align: left;
}
a {
    text-decoration: none;
    cursor: none;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

